body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    line-height: 1.5;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.5rem;
    color: #0d7979;
    /* line-height: 2; */
}

h2{
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3{
    font-family: 'Pacifico', cursive;
    color: #11999E;
}

a{
    color: #11999E;
}

.Top{
  padding-top: 50px;
    background-color: rgb(234, 248, 248);
    position: relative;
    margin-bottom:100px ;
}
.img1{
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
 }
 .img2{
    position: absolute;
    margin-top: 140px; 
}  

 .img3{
    position: absolute;  
    margin-top: 0px; 
    margin-left: 200px;

}  

.myphoto {
    height:200px;
    /* width: 200px; */
}


.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    
}

.photo {
    margin: 0px 30px;
    width: 25%;
    float: left;
}

.profile{
 width: 30%;
 margin: auto;
 
}

hr{
   border-top: 7px dotted;
   width: 5%;
   margin: 100px auto;
   /* color: #EAF6F6; */
}

.contact-me{
    width: 50%;
    margin: 0 auto 70px;
}

.btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #00FFFF, #2470EB);
        background-image: -moz-linear-gradient(top, #00FFFF, #2470EB);
        background-image: -ms-linear-gradient(top, #00FFFF, #2470EB);
        background-image: -o-linear-gradient(top, #00FFFF, #2470EB);
        background-image: -webkit-gradient(to bottom, #00FFFF, #2470EB);
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 33px;
        height: 6px;
        line-height: 7px;
        color: #FFFFFF;
        font-family: 'Lobster', cursive;
        width: 260px;
        font-size: 30px;
        font-weight: 100;
        padding: 22px;
        -webkit-box-shadow: 2px 1px 7px 1px #0059A0;
        -moz-box-shadow: 2px 1px 7px 1px #0059A0;
        box-shadow: 2px 1px 7px 1px #0059A0;
        text-shadow: -4px -4px 2px #000000;
        border: solid #000000 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
     }
     
     .btn:hover {
        background: #1E62D0;
        border: solid #2A6EDB 0;
        /* -webkit-border-radius: 15px;
        -moz-border-radius: 15px; */
        border-radius: 175px;
        text-decoration: none;
     }

     .Bottom{
        background-color: #66BFBF;
        line-height: 2;
        padding: 30px 0px 8px;
     }

     .footer-link{
        margin: 20px;
        color: #08666a;
        text-decoration: none;
     }
     .footer-link:hover {
        color:white;
     }

     .copyright {
        color: rgb(255, 249, 237);
        font-size: 1rem;
     }